*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 100px;
}

header{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 36px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.main-container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
}

form input {
    font-size: 24px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid black;
    padding: 8px;
}

form button {
    background-color: green;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.container {
    margin-top: 30px;
}

tr {
    width: 600px;
    display: flex;
    justify-content:space-between;
    font-size: 24px;
}

.tbody {
    justify-content:space-between;
}

